* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #9dbcfd;
    color:rgb(143, 16, 143);
}
h2 {
    text-align: center;
    margin-top: 3rem;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    text-align: center;
}
form {
    width: 50%;
    margin: 3rem auto;
}
fb\:login-button {
    height: 3rem;
    width: 80%;
    padding: 0.5rem;
    margin: .5rem 0;
    border-radius: 3px;
    border: 1px solid;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
}
/*input, button {
    height: 3rem;
    width: 80%;
    padding: 0.5rem;
    margin: .5rem 0;
    border-radius: 3px;
    border: 1px solid #af2424;
}
button {
    background:rgb(51, 22, 51);
    color: #aa0303;
    cursor: pointer;
}*/